@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #231F20;
    color: white;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

h1, h2 {
    font-weight: 300;
}

ul {
    list-style: none;
}